{% load static %}
<html>
    <head>
		<title>Girls Computer Club</title>
		<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
			<img class="banner" src="{% static 'images/helsinki.jpg' %}" width="100%">
			<img class="logo" src="{% static 'images/logo.png' %}" width="160px">
			<a class="banner-text" href="/">
				<div>
					<h1>Girls' Computer Club</h1>
				</div>
			</a>
			<p class="banner-description">We are a computer science club for girls and young women.</p>
			<div class="banner-socials">
				<a href="https://www.facebook.com/girlscomputerclub"><i class="fa fa-facebook-square" style="font-size:36px; color: #2E3092;"></i></a>
				<a href="https://www.instagram.com/girlscomputerclub"><i class="fa fa-instagram" style="font-size:36px; color: #2E3092;"></i></a>
				<a href="/"><i class="fa fa-slack" style="font-size:36px; color: #2E3092;"></i></a>
			</div>
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="new-post">New post! (Only admins see this.)</a>
			{% endif %}
        </div>
		<div class="content container">
			<div>
				<div>
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
		<div class="footer">
			<h2>Meet our board!</h2>
			<div class="members-container">
				<div class="member-info">
					<img src="{% static 'images/logo.png' %}" width="100px">
					<h3>Magda</h3>
					<p>Lorem ipsum lipsum</p>
				</div>
				<div class="member-info">
					<img src="{% static 'images/logo.png' %}" width="100px">
					<h3>Lea</h3>
					<p>Lorem ipsum lipsum</p>
				</div>
				<div class="member-info">
					<img src="{% static 'images/logo.png' %}" width="100px">
					<h3>Heini</h3>
					<p>Lorem ipsum lipsum</p>
				</div>
			</div>
		</div>
</html>