{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
	{% for post in posts %}
		<div class="post-in-list">
			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<p>published: {{ post.published_date }}</p>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
    <div class="container-fluid text-center">
		<!-- TODO refactor this out into it's own block! -->
		<h2>Meet our board!</h2>
		<div class="row">
			{% for member in members %}
			<div class="col-sm-4">
				<img src="/media/{{ member.profile_picture }}" class="member-profile" alt="{{ member.name }}">
				<h3>{{ member.name }}</h3>
				<p class="title">{{ member.city }}</p>
				<p class="title">{{ member.role }}</p>
				<p>{{ member.bio }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}