/* Body and headers */

body {
    margin: 0;
}

h1 {
    font-size: 3em;
    text-decoration: none;
}

h1,
h2 {
    text-transform: uppercase;
}

h1,
h2,
h3 {
    color: #2e3092;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Banner, banner image and text */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.header {
    padding: 60px 60px 0 60px;
}

.new-post {
    font-size: 1.4em;
    color: hotpink;
    background-color: white;
    height: 20px;
    width: 50px;
}

.banner {
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.banner-description {
    text-align: center;
    color: rgb(46, 46, 46);
    font-size: 1.2em;
}

.banner-text {
    text-decoration: bold;
    font-family: 'Quicksand', sans-serif;
    line-height: 0.9em;
}

/* Content container, postedit and post details */

.container {
    margin: 50px;
    padding: 20px 100px 20px 100px;
    background-color: white;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.post-in-list {
    padding: 30px;
}

.post-in-list a {
    text-decoration: none;
}

.post-edit {
    padding: 30px;
}

.post-detail {
    padding: 30px;
}

/* member profiles and member container*/

.row {
    text-align: center;
}

.icon-bar {
    width: 100%;
}

.icon-bar a {
    float: center;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    font-size: 36px;
}

.active {
    background-color: #4caf50;
}
